// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (100: hsl(11, 100%, 90%),
    200: hsl(11, 95%, 80%),
    300: hsl(11, 95%, 65%),
    400: hsl(11, 92%, 57%),
    500: hsl(11, 92%, 20%),
  ),
  secondary: (100: hsl(191, 74%, 90%),
    200: hsl(191, 74%, 80%),
    300: hsl(191, 74%, 65%),
    400: hsl(191, 74%, 50%),
    500: hsl(191, 74%, 32%),
  ),
  neutral: (100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (100: hsl(240, 4%, 9%),
  ),
);