:root {
  --radius-small: 0.125rem;
  --radius-large: 0.5rem;
  --radius-default: var(--radius-large);
  --gap-default: 1rem;
  --font-measure: 70ch;
  --font-family-default: 'Inter', sans-serif;
  --font-family-special: 'manofa-condensed', sans-serif;
  /* --font-color: var(--neutral-900); */
  /* --action-color: var(--neutral-900); */
  /* --background: var(--neutral-100); */
  --font-color: var(--last-color-dark);
  --action-color: var(--last-color-dark);
  --action-color-state: var(--last-color-dark);
  --background: var(--first-color);
  --background-overlay: rgba(255,255,255,0.3);
  --primary-background: var(--primary-100);
  --neutral-background: var(--neutral-200);
  --blend-hero: overlay;
  --blend-work: multiply:
    
    
}

.darkmode {
  /* --font-color: var(--neutral-100); */
  /* --action-color: var(--neutral-100); */
  /* --background: var(--dark-100); */
  --font-color: var(--first-color);
  --action-color: var(--last-color);
  --action-color-state: var(--last-color);
  --background: var(--last-color-dark);
  --background-overlay: rgba(0,0,0,0.2);
  --primary-background: var(--primary-500);
  --neutral-background: var(--neutral-900);
  --blend-hero: overlay;
  --blend-work: overlay:

}

html,
body {
  height: 100%;
  /* overflow-x: hidden; */
}

body {
  display: flex;
  flex-direction: column;
   --font-color: var(--last-color-dark);
   --background: var(--first-color);
  color: var(--font-color);
  background-color: var(--background);
}



body main {
  flex: 1 0 auto;
  
}

body footer {
  flex-shrink: 0;
}

pre {
  padding: 1rem;
  border-radius: 0.35rem;
  border: 2px solid var(--action-color);
}

body .pagination a:hover,
body .pagination a:focus-visible {
  background-color: var(--action-color-state);
}

body .pagination a:hover svg path,
body .pagination a:focus-visible svg path {
  stroke: white;
}


