---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import SmoothScrollWrapper from "../components/.SmoothScrollWrapper.astro";

import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";

import Ticker from "../components/Marquee.astro";
import TickerItem from "../components/MarqueeItem.astro";
import Work from "../components/Work.astro";
import Photography from "../components/Photography.astro";
---

<DefaultLayout title="Home">
  <SmoothScrollWrapper speed={2}>
    <section class="container intro">
      <h1>Marquee effect with GSAP and Swiper</h1>
      <p class="text-8xl">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio
        quisquam dolores voluptates quae voluptatibus molestiae sequi non
        eveniet facilis totam repellendus commodi dolore harum facere ratione
        consequatur, tempora doloribus quasi. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Distinctio quisquam dolores voluptates
        quae voluptatibus molestiae sequi non eveniet facilis totam repellendus
        commodi dolore harum facere ratione consequatur, tempora doloribus
        quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Distinctio quisquam dolores voluptates quae voluptatibus molestiae sequi
        non eveniet facilis totam repellendus commodi dolore harum facere
        ratione consequatur, tempora doloribus quasi. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Distinctio quisquam dolores
        voluptates quae voluptatibus molestiae sequi non eveniet facilis totam
        repellendus commodi dolore harum facere ratione consequatur, tempora
        doloribus quasi. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Distinctio quisquam dolores voluptates quae voluptatibus molestiae
        sequi non eveniet facilis totam repellendus commodi dolore harum facere
        ratione consequatur, tempora doloribus quasi. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Distinctio quisquam dolores
        voluptates quae voluptatibus molestiae sequi non eveniet facilis totam
        repellendus commodi dolore harum facere ratione consequatur, tempora
        doloribus quasi. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Distinctio quisquam dolores voluptates quae voluptatibus molestiae
        sequi non eveniet facilis totam repellendus commodi dolore harum facere
        ratione consequatur, tempora doloribus quasi. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Distinctio quisquam dolores
        voluptates quae voluptatibus molestiae sequi non eveniet facilis totam
        repellendus commodi dolore harum facere ratione consequatur, tempora
        doloribus quasi. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Distinctio quisquam dolores voluptates quae voluptatibus molestiae
        sequi non eveniet facilis totam repellendus commodi dolore harum facere
        ratione consequatur, tempora doloribus quasi. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Distinctio quisquam dolores
        voluptates quae voluptatibus molestiae sequi non eveniet facilis totam
        repellendus commodi dolore harum facere ratione consequatur, tempora
        doloribus quasi. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Distinctio quisquam dolores voluptates quae voluptatibus molestiae
        sequi non eveniet facilis totam repellendus commodi dolore harum facere
        ratione consequatur, tempora doloribus quasi. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Distinctio quisquam dolores
        voluptates quae voluptatibus molestiae sequi non eveniet facilis totam
        repellendus commodi dolore harum facere ratione consequatur, tempora
        doloribus quasi.
      </p>
    </section>

    <footer>
      <div>
        <h2>Credits</h2>
        <a href="https://www.humming.design" target="_blank">Humming</a>
        <a href="https://greensock.com" target="_blank">GSAP</a>
        <a href="https://swiperjs.com" target="_blank">Swiper</a>
      </div>
    </footer>
  </SmoothScrollWrapper>
</DefaultLayout>
