---
import DefaultLayout from "../layouts/DefaultLayout.astro";

import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";

import Ticker from "../components/Ticker.astro";
import TickerItem from "../components/TickerItem.astro";
import Work from "../components/Work.astro";
import Photography from "../components/Photography.astro";
---

<DefaultLayout title="Home">
  <div data-scroll-container>
    <Hero />
    <Intro />
    <Ticker speed={120} direction="left">
      <TickerItem label="Concept Development" />
      <TickerItem label="Moodboarding" />
      <TickerItem label="UX Research" />
      <TickerItem label="UX / UI" />
      <TickerItem label="Prototyping" />
      <TickerItem label="Design Sprints" />
      <TickerItem label="Creative Direction" />
      <TickerItem label="(Rapid) Prototyping" />
      <TickerItem label="Design Systems" />
      <TickerItem label="Design Critiques" />
      <TickerItem label="Pitching & Presenting" />
      <TickerItem label="Front-End Development" />
    </Ticker>
    <div class="container my-64 grid md:grid-cols-2">
      <Work />
      <Photography />
    </div>

    <div>
      <script>
        // LOCOMOTIVE
        // import LocomotiveScroll from "https://cdn.skypack.dev/locomotive-scroll";

        // const scroller = new LocomotiveScroll({
        //   el: document.querySelector("[data-scroll-container]"),
        //   smooth: true,
        // });

        // LENIS
        import Lenis from "lenis";

        const lenis = new Lenis();

        lenis.on("scroll", (e) => {
          console.log(e);
        });

        function raf(time) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }

        requestAnimationFrame(raf);

        // MOTION.DEV
        // import { animate, scroll } from "motion";

        // document.querySelectorAll("section > div").forEach((item) => {
        //   scroll(animate(item, { opacity: [0, 1, 1, 0] }), {
        //     target: item,
        //     offset: ["start end", "end end", "start start", "end start"],
        //   });
        // });
      </script>
    </div>
  </div>
</DefaultLayout>
