---
import DefaultLayout from "../layouts/DefaultLayout.astro";

import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";

import Ticker from "../components/Ticker.astro";
import TickerItem from "../components/TickerItem.astro";
import LmTicker from "../components/LmTicker.astro";
---

<DefaultLayout title="Home">
  <div data-scroll-container>
    <Hero />
    <Intro />
    <Ticker speed={40} direction="left">
      <TickerItem label="Concept Development" />
      <TickerItem label="Moodboarding" />
      <TickerItem label="UX Research" />
      <TickerItem label="UX / UI" />
      <TickerItem label="Prototyping" />
      <TickerItem label="Design Sprints" />
      <TickerItem label="Creative Direction" />
      <TickerItem label="(Rapid) Prototyping" />
      <TickerItem label="Design Systems" />
      <TickerItem label="Design Critiques" />
      <TickerItem label="Pitching & Presenting" />
      <TickerItem label="Front-End Development" />
    </Ticker>
    <LmTicker />
    <div data-scroll-section>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque
        corporis dicta exercitationem accusantium aut perferendis voluptate
        porro dignissimos aperiam perspiciatis repellendus, soluta, vero commodi
        reiciendis nam veniam ullam iusto ratione!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque
        corporis dicta exercitationem accusantium aut perferendis voluptate
        porro dignissimos aperiam perspiciatis repellendus, soluta, vero commodi
        reiciendis nam veniam ullam iusto ratione!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque
        corporis dicta exercitationem accusantium aut perferendis voluptate
        porro dignissimos aperiam perspiciatis repellendus, soluta, vero commodi
        reiciendis nam veniam ullam iusto ratione!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque
        corporis dicta exercitationem accusantium aut perferendis voluptate
        porro dignissimos aperiam perspiciatis repellendus, soluta, vero commodi
        reiciendis nam veniam ullam iusto ratione!
      </p>
    </div>
  </div>
</DefaultLayout>

<script>
  import LocomotiveScroll from "https://cdn.skypack.dev/locomotive-scroll";

  const scroller = new LocomotiveScroll({
    el: document.querySelector("[data-scroll-container]"),
    smooth: true,
  });
</script>
