<section class="container">
  <div
    class="flex flex-col items-center gap-4 p-12 mt-24 mb-32 contact md:p-24"
  >
    <div class="text-center text">
      <h2 class="5xl">get in touch</h2>
      <p class="lead">You’ve reached the end. Geat job!</p>
      <p>Got a job or a question? Click a button below.</p>
    </div>
    <div class="flex gap-4 buttons">
      <a href="#" class="text-lg text-center button"> e-mail</a>
      <a href="#" class="text-lg text-center button"> call</a>
    </div>
  </div>
</section>

<style lang="scss">
  section {
  }

  .call-to-action {
    color: var(--neutral-900);
    background-image: linear-gradient(
      40deg,
      var(--primary-100),
      var(--secondary-200)
    );
  }

  .call-to-action a:not(button),
  .call-to-action a:not(button):visited {
    padding: 1rem;
    color: var(--neutral-900);
    font-weight: bold;
    border: 3px solid var(--neutral-900);
    border-radius: 3px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

    &:where(:hover, :focus) {
      color: var(--neutral-100);
      background-color: var(--neutral-900);
      // text-decoration: underline;
    }
  }

  h2 {
    font-size: var(--step-4);
  }

  p.lead {
    font-size: var(--step-1);
    font-weight: 700;
  }
  p {
    font-size: var(--step-0);
    margin-block: 0.5em;
    line-height: 1;
  }
  .button {
    padding: var(--space-s) var(--space-xl);
    font-family: var(--font-family-special);
    font-size: var(--step-2);
    line-height: 100%;
    border-radius: 100vw;
    background: var(--action-color);
    color: var(--background);
    min-width: 10ch;

    border: none;
  }
</style>
