---
import CallToAction from "./CallToAction.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <section class="py-8">
    <div class="stretch container">
      <p>
        &copy; {currentYear} - Maarten Mieras build with <a
          href="https://astro.build/">Astro</a
        >.
      </p>
    </div>
  </section>
</footer>
