---
import { Image } from "astro:assets";
import Portrait from "../assets/img/mieras-portrait.png"; // Image is 1600x900
import CircleText from "../components/CircleText.astro";
---

<section class="relative w-full">
  <!-- <CircleText
    rotateSpeed="40s"
    rotateDirection="normal"
    text="Open for work • Get in touch! • Available now • "
  /> -->
  <div class="content">
    <h1 data-scroll data-scroll-speed="3" data-scroll-position="top">
      Maarten Mieras
    </h1>

    <h2 data-scroll>
      <span data-scroll data-scroll-speed="1" data-scroll-position="top"
        >digital designer</span
      >
      <span
        data-scroll
        data-scroll-speed="2"
        data-scroll-position="top"
        class="smaller">based in rotterdam</span
      >
    </h2>
  </div>

  <Image
    src={Portrait}
    widths={[240, 540, 720, Portrait.width]}
    sizes={`(max-width: 360px) 780px, (max-width: 720px) 1280px, (max-width: 1600px) 1920px, ${Portrait.width}px`}
    alt="A description of my image."
    class="portrait w-full"
  />
</section>

<style lang="scss">
  section {
    position: relative;

    background: transparent;
    border-radius: 2% 2% 0 0;
    overflow: hidden;
  }

  .content {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    isolation: isolate;
    color: var(--font-color);
    z-index: 5;
  }

  h1,
  h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 auto;
  }

  h1 {
    font-size: var(--step-1);
    font-weight: 400;
    letter-spacing: 0.025em;
  }

  h2 {
    font-size: var(--step-5);
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    mix-blend-mode: var(--blend-hero);
  }

  :global(.darkmode .content) {
    color: var(--first-color);
  }

  @media screen and (min-width: 600px) {
    .content {
      min-height: 150vh;
    }
  }
</style>
