---
import { Image } from "astro:assets";
import Portrait from "../assets/img/mieras-portrait.png"; // Image is 1600x900
import CircleText from "../components/CircleText.astro";
---

<section class="relative w-full" data-scroll-section>
  <div data-scroll class="content">
    <CircleText
      rotateSpeed="40s"
      rotateDirection="normal"
      text="Open for work • Get in touch! • Available now • "
    />
    <h1 data-scroll data-scroll-speed="3" data-scroll-position="top">
      Maarten Mieras
    </h1>

    <h2 data-scroll>
      <span data-scroll data-scroll-speed="1" data-scroll-position="top"
        >digital designer</span
      >
      <span
        data-scroll
        data-scroll-speed="2"
        data-scroll-position="top"
        class="smaller">based in rotterdam</span
      >
    </h2>
  </div>
  <Image
    src={Portrait}
    widths={[240, 540, 720, Portrait.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${Portrait.width}px`}
    alt="A description of my image."
    class="w-full"
  />
</section>

<style lang="scss">
  .content {
    padding: 3vh 0 6vh 0;
    position: relative;
  }

  h1,
  h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 auto;
  }

  h1 {
    font-size: var(--step-1);
    font-weight: 400;
    letter-spacing: 0.025em;
  }

  h2 {
    font-size: var(--step-5);
  }

  img {
    mix-blend-mode: multiply;
    isolation: isolate;
  }
</style>
