---
import { Image } from "astro:assets";
import Portrait from "../assets/img/mieras-portrait.png"; // Image is 1600x900
import CircleText from "../components/CircleText.astro";
---

<section class="container relative px-32 stretch">
  <div class="relative flex flex-col items-center pt-0">
    <CircleText
      rotateSpeed="40s"
      rotateDirection="normal"
      text="Open for work • Available now • Contact • "
    />
    <div class="wrapper">
      <div class="p-16 px-8 py-12 content md:pb-64">
        <h1>Maarten Mieras</h1>
        <h2>
          <span>digital designer</span>
          <span>based in rotterdam</span>
        </h2>
      </div>
    </div>

    <Image
      src={Portrait}
      widths={[240, 540, 720, Portrait.width]}
      sizes={`(max-width: 360px) 780px, (max-width: 720px) 1280px, (max-width: 1600px) 1920px, ${Portrait.width}px`}
      alt="A description of my image."
      class="w-full portrait"
    />
  </div>
</section>

<style lang="scss">
  :root {
    --radius: 2vw;
  }

  section {
    position: relative;

    background: transparent;
    border-radius: var(--radius);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  .wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    isolation: isolate;
    color: var(--background);
    z-index: 5;
  }

  h1,
  h2 {
    text-align: center;

    line-height: 1;
    margin: 0 auto;
  }

  h1 {
    font-size: var(--step-1);
    font-weight: 400;
    letter-spacing: 0.025em;
    margin-bottom: var(--space-l);
  }

  h2 {
    text-transform: uppercase;
    font-size: var(--step-5);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    mix-blend-mode: var(--blend-hero);
    border-radius: var(--radius);
  }

  :global(.darkmode .content) {
    color: var(--first-color);
  }

  @media screen and (min-width: 600px) {
  }
</style>
