---
---

<section class="container">
  <div
    class="grid items-baseline gap-4 py-8 md:gap-8 md:py-12 lg:grid-cols-2 lg:gap-12 lg:py-16"
  >
    <p class="lead">
      As a seasoned designer with roots in the agency world and over two decades
      of freelancing experience, I’ve witnessed firsthand the transformation of
      the digital landscape and industry. This extensive journey has equipped me
      with the expertise to navigate and adapt to ever-evolving design
      challenges.
    </p>
    <div class="text">
      <p>
        Specializing in solving complex issues practically, my work ensures that
        end users achieve their goals while aligning seamlessly with company
        objectives. As a UX and visual designer, I merge these crucial elements
        to create cohesive, effective designs. Thriving on asking insightful
        questions, my approach addresses intricate concepts and delivers
        efficient, accurate results without losing the fun. As the co-owner of
        All This, a digital design studio, I bring a unique perspective to every
        project. For top-tier design solutions, visit allthis.digital.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  .lead {
    font-family: var(--font-family-default);
    font-size: var(--step-0);
    font-weight: 700;
    letter-spacing: -0.015em;
    line-height: calc(var(--step-0) * 1.2);
  }

  p {
    font-family: var(--font-family-default);
    font-size: calc(var(--step-0) * 0.675);
    font-weight: 600;
    line-height: calc(var(--step-0) * 0.675 * 1.2);
    letter-spacing: -0.0125em;
    margin: 0;
    text-wrap: balance;
  }

  p + p {
    margin-block-start: calc(var(--step-1) * 0.675 * 1.55);
  }
  @media screen and (max-width: 1024px) {
    p {
      // font-size: var(--step-0);
    }
  }
</style>
