---
---

<section class="container">
  <div class="my-16 grid gap-4 md:gap-12 lg:grid-cols-8" data-scroll-section>
    <p class="lg:col-span-5">
      With 7 years in design agencies and over a decade of freelancing, I have a
      comprehensive understanding of the dynamic digital design landscape.
    </p>
    <p class="lg:col-span-3">
      As a UX and visual designer, I excel at merging user needs with company
      objectives through practical, systems-oriented design. I tackle complex
      problems by asking insightful questions and delivering efficient, accurate
      results with a touch of humor. At All This, our digital design studio, I
      ensure projects are both visually appealing and highly functional. Outside
      of work, I’m a music enthusiast who loves to travel, shoot analog photos,
      and cook for friends and family.
    </p>
  </div>
</section>

<style lang="scss">
  section {
  }
  p:first-child {
    font-family: var(--font-family-default);
    font-size: var(--step-2);
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 0.00125em;
    text-wrap: balance;
  }

  p {
    font-family: var(--font-family-default);
    font-size: var(--step-0);
    font-weight: 500;
    line-height: 133%;
    letter-spacing: 0.0125em;
  }
</style>
