---
---

<section class="container">
  <div class="my-16 grid gap-4 md:grid-cols-4 md:gap-12" data-scroll-section>
    <p class="col-span-2">
      With 7 years of experience in the design agency world and over a decade of
      freelancing under my belt, I've seen the dynamic transitions in internet
      and digital design firsthand.
    </p>
    <p class="col-span-1">
      I like solving complex issues in a practical manner. I'm here to help end
      users achieve their goals while keeping company objectives in mind. As a
      UX and visual designer, my speciality is effortlessly merging these two
      vital parts. I'm a thoughtful designer who enjoys asking insightful
      questions to tackle complex concepts and deliver efficient, accurate
      results with a touch of humor.
    </p>
    <p class="col-span-1">
      My design approach focuses on systems thinking and reusability, ensuring
      that all projects I work on are both visually appealing and highly
      functional. I’m the co-owner of All This a digital design studio. I’m a
      music enthusiast. I love to travel and see the world, shoot analog photos
      and cook for friends and family.
    </p>
  </div>
</section>

<style lang="scss">
  section {
  }
  p:first-child {
    font-family: var(--font-family-special);
    font-size: var(--step-1);
    font-weight: 700;
    line-height: 112.5%;
  }

  p {
    font-family: var(--font-family-default);
    font-size: var(--step--1);
    line-height: 150%;
  }
</style>
