---
// TickerItem.astro
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<span class="marquee-item">{label}</span>

<style>
  span {
    font-family: var(--font-family-special);
    font-size: var(--step-2);
    padding: var(--space-m) var(--space-2xl);
    padding-top: calc(var(--space-m) + 0.2em);
    color: var(--action-color);
    background-color: var(--background);
    line-height: 100%;
  }

  /* span::after {
    content: "→";
    padding: 0 0 0 1vw;
  } */
</style>
