---
---

<section class="">
  <div class="grid gap-4" data-scroll-section>
    <h2>Photography</h2>
    <p>
      Yes I like taking pictures with my Canon A1 or Yashica-D Mat or Rolleiflex
      3.5
    </p>
  </div>
</section>

<style lang="scss">
  section {
    background: var(--background-overlay);
    padding: var(--space-l);
    aspect-ratio: 3 / 4;
    border-radius: var(--space-l);
  }
</style>
