---
import MarqueeCarousel from "./MarqueeCarousel.astro";
---

<section class="container stretch">
  <div class="container">
    <div class="py-8 md:py-24">
      <h2 class="section-title">Photography</h2>
      <MarqueeCarousel />
      <p>
        Yes I like taking pictures with my Canon A1 or Yashica-D Mat or
        Rolleiflex 3.5
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    background: var(--font-color);
  }
  .section-title {
    font-size: var(--step-5);
    line-height: 100%;
    color: var(--background);
  }
</style>
