---
// Ticker.astro
interface Props {
  speed?: number;
  direction?: "left" | "right";
}

// Stel standaardwaarden in
const defaultSpeed = 40;
const defaultDirection = "left";
const { speed = defaultSpeed, direction = defaultDirection } = Astro.props;
const translateDirection =
  direction === "left" ? "translateX(-100%)" : "translateX(100%)";
---

<section class="stretch containe my-32">
  <div class="ticker-wrap flex">
    <div
      class="ticker flex gap-4"
      style={`--speed: ${speed}s; --translate-direction: ${translateDirection};`}
    >
      <span class="item-collection item-collection-1 gap-4">
        <slot />
      </span>
      <span class="item-collection item-collection-2 gap-4">
        <slot />
      </span>
    </div>
  </div>
</section>

<style>
  .ticker-wrap {
    width: 100%;

    /* overflow: hidden; */
    white-space: nowrap;
    /* background-color: #fff960; */
    color: #000;
    display: flex;
    padding: 0.2rem var(--gap-default);
    border-radius: var(--radius-default);
  }
  .ticker {
    display: flex;
    flex-wrap: nowrap;
    animation: marquee var(--speed) linear infinite;
  }
  .item-collection {
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
  }

  .item-collection-1 {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    left: 0%;
    animation: swap var(--speed) linear infinite;
  }

  :global(.item) {
    display: inline-block;
    padding: 0 1rem;

    font-weight: 800;
    font-family: sans-serif;
    border-radius: 100vw;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: var(--translate-direction);
    }
  }

  @keyframes swap {
    0%,
    50% {
      left: 0%;
    }
    50.01%,
    100% {
      left: 100%;
    }
  }
</style>
