---
// TickerItem.astro
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<span class="item">{label}</span>

<style>
  span {
    font-family: var(--font-family-special);
    font-size: var(--step-1);
    padding: 2vw 2.5vw;
    color: var(--background);
    background-color: var(--font-color);
    text-edge: cap alphabetic;
    leading-trim: both;
  }

  span::after {
    content: "→";
    padding: 0 0 0 1vw;
  }
</style>
