---
// TickerItem.astro
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<span class="item">{label}</span>

<style>
  span {
    font-family: var(--font-family-special);
    font-size: var(--step-1);
    padding: 2vw 2.5vw 2.25vw 2.5vw;
    color: var(--first-color-dark);
    background-color: var(--first-color);
    text-edge: cap alphabetic;
    leading-trim: both;
  }

  .darkmode span {
    color: var(--first-color);
    background-color: var(--first-color-dark);
  }

  /* span::after {
    content: "→";
    padding: 0 0 0 1vw;
  } */
</style>
