---
import WorkItem from "./WorkItem.astro";
import { getCollection, getEntry } from "astro:content";

const workItems = await getCollection("work");
workItems.sort((a, b) => b.data.year - a.data.year);
---

<section class="container">
  <div class="py-8 md:py-24">
    <h2 class="section-title">Experience</h2>
    <div class="gap-4 work-overview-grid">
      {workItems.map((item) => <WorkItem {...item.data} />)}
    </div>
  </div>
</section>

<style>
  .section-title {
    font-size: var(--step-5);
    line-height: 100%;
  }
  .work-overview-grid {
    display: grid;

    gap: var(--gap-default);
  }
</style>
