---
---

<section class="">
  <div class="grid gap-4" data-scroll-section>
    <h2>Work</h2>
    <p>
      Some work stuff.. More work on <a
        href="https://allthis.digital"
        target="_blank">allthis.digital</a
      >
    </p>
  </div>
</section>

<style lang="scss"></style>
