---
import "@astrojs/tailwind/base.css";
import "../assets/scss/globals.scss";
import "../assets/css/global.css";
import "../assets/css/locomotive.css";
import SiteMeta from "../components/SiteMeta.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {
  title = "Digital Designer • Maarten Mieras",
  description = "Maarten Mieras is an experienced digital designer based in Rotterdam. From user experience to visual design, from responsive webdesign to app design. ",
  url,
  image = "/social-preview-image.png",
  author = "Maarten Mieras",
} = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(" ", "-")}`
        : `https://accessible-astro.dev/${title
            .toLowerCase()
            .replaceAll(" ", "-")}`}
      image={image}
      author={author}
    />
  </head>
  <body>
    <Header />
    <main id="main-content" transition:animate="fade">
      <slot />
    </main>
    <Footer />
  </body>
</html>
